﻿@model IEnumerable<OnBoarding.Login>
@{
    ViewBag.Title = "Index";
}

<center><h2>Users Management</h2></center>
<br />
<a class="btn btn-success" style="float:right" href="Create">Create New</a>
<br />
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Password
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Users", new { id = item.id }, new {@class="btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", "Users", new { id = item.id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", "Users", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
