﻿@model IEnumerable<OnBoarding.Task>

@{
    ViewBag.Title = "Index";
}

<center><h2>Tasks Management</h2></center>
<br />
<a class="btn btn-success" style="float:right" href="Create">Create New Task</a>
<br />
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Task1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login.username)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Task1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login.username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Tasks", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", "Tasks", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Delete", "Delete", "Users", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
