﻿@using OnBoarding.Models
@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2> @ViewBag.Title. </h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new
            {
                ReturnUrl = ViewBag.ReturnUrl
            }, FormMethod.Post, new
            {
                @class = "form-horizontal",
                role = "form"
            }))
            {
                @Html.AntiForgeryToken()
                <h4> Please Login First </h4> <hr />
                @Html.ValidationSummary(true, "", new
                {
                    @class = "text-danger"
                })

                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new
                    {
                        @class = "col-md-2 control-label"
                    })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new
                        {
                            @class = "form-control"
                        })
                        @Html.ValidationMessageFor(m => m.Username, "", new
                            {
                                @class = "text-danger"
                            })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new
                    {
                        @class = "col-md-2 control-label"
                    })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new
                        {
                            @class = "form-control"
                        })
                        @Html.ValidationMessageFor(m => m.Password, "", new
                            {
                                @class = "text-danger"
                            })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin-top: 10px;">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("/bundles/jqueryval")
}

